.DS_Store
config.lock

vendor

data

private.key
public.key
cert.pem
public.pub
masadb.crt
masadb.key
masadb.csr
masadb.pub

config.json
composer.lock
.phpintel
apache_error.log
apache_error_ssl.log
apache_access_ssl.log
apache_access.log

masadb.dev.key