.DS_Store
config.lock
vendor
data
.env
config.json
.phpintel
cache
git_async_result
updatecache_async_result
server.key
server.pub
server.csr
config.json-develop
config.json-production
supervisord.log
supervisord.pid
.idea
certs/*
