{
    "database-address": "/var/www/html/data",
    "domain": "localhost",
    "protocol": "http",
    "displayErrorDetails": true,
    "case_sensitive": false,
    "private_key": "/var/www/masadb/key.pem",
    "public_key": "/var/www/masadb/key.pub",
    "public_key_pass": "test123"
}
